%% All deps found on hex.pm. These will be fetched.
%% To declare which of these dependencies are needed at run time,
%% Add them to `src/crud.app.src'
{deps, [
    {cowboy, "1.0.4"},
    jsx,
    {uuid, "1.5.2-rc1", {pkg, uuid_erl}},
    {lager, "3.2.1"},
    {cowboy_swagger, "1.1.0"},

    % debug tools
    recon,

    % force package usage on other libs
    {folsom, "0.8.3"},
    {ibrowse, "4.2.2"}, % actually a test dep :(

    % metrics (doesnt work because c code in jiffy)
    {folsom_cowboy, {git, "https://github.com/boundary/folsom_cowboy.git", {branch, "master"}}}

]}.

{erl_opts, [{parse_transform, lager_transform},
            {lager_extra_sinks, [req_logs]}
]}.

{edoc_opts, [
    {new, true},
    {source_path, ["src/", "models/", "handlers/", "backends/"]}
]}.

{profiles, [
    {prod, [{relx, [{dev_mode, false},
                    {include_src, false},
                    {include_erts, true}
                    ]}
    ]},
    {test, [
        {deps, [proper, meck]}
    ]}
]}.

{plugins, [
    %% the plugin name is still rebar3_crud and I didnt get time to
    %% fix that. TODO
    {rebar3_crud, {git, "https://github.com/neeraj9/rebar3_uerl_crud.git", {branch, "dev"}}},
    {rebar_alias, "0.2.0"},
    rebar3_proper
]}.

{alias, [
    {check, [xref, dialyzer, {proper, "-c"}, {cover, "-v"}]}
]}.

{relx, [
    {release, {crud, "0.1.0"},
     [crud, folsom_cowboy, recon]},

     {sys_config, "config/sys.config"}
]}.

{xref_checks, [
    undefined_function_calls,undefined_functions,locals_not_used,
    exports_not_used,deprecated_function_calls, deprecated_functions
]}.

%% Paths for structure
{src_dirs, ["models", "handlers", "backends", "src"]}.

