[
 {lager, [
   {log_root, "_build/default/log/"},
   {colored, true},
   {colors, [
        {debug,     "\e[0;33m" },
        {info,      "\e[0;32m" },
        {notice,    "\e[1;32m" },
        {warning,   "\e[0;35m" },
        {error,     "\e[1;31m" },
        {critical,  "\e[1;31m" },
        {alert,     "\e[1;31m" },
        {emergency, "\e[1;31m" }
   ]},
   {handlers, [
     {lager_console_backend, info},
     {lager_file_backend, [{file, "error.log"}, {level, error}]},
     {lager_file_backend, [{file, "console.log"}, {level, info}]}
   ]},
   {extra_sinks, [
     {req_logs_lager_event, [
         {handlers, [
             {lager_console_backend, [
                 info,
                 {lager_default_formatter, [time, color, " [",severity,"] ", message, "\e[0m\r\n"]}
             ]},
             {lager_file_backend, [{file, "req.log"}, {level, info}]}
         ]}
     ]}
   ]}
 ]}
].
